@import '../node_modules/bulma/bulma';

html, body {
  background-color: hsl(220, 16%, 90%);
  background: linear-gradient(150deg, hsl(16, 40%, 94%), hsl(276, 10%, 65%));
}

address {
  font-family: monospace;
  color: hsl(340, 60%, 48%);
  font-style: normal;
}

.button {
  background-color: hsl(217, 71%, 53%);
  color: white;
}

.app {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.app-header {
  color: white;
  flex-basis: 120px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.app-footer {
  display: flex;
  flex: 5rem;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0.5rem;
  small {
    font-size: 0.8rem;
    opacity: 0.8;
  }
}

.app-body {
  flex: 100%;
  width: 80%;
  margin: 0 8rem;
  background-color: hsl(220, 10%, 94%);
  box-shadow: 0 0 30px 0 hsla(0, 0%, 0%, 0.4);
  border: 1px solid hsl(278, 31%, 37%);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;

  .transaction-breadcrumbs {
    width: 100%;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid hsl(220, 20%, 60%);
    font-size: 1rem;
    ul {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      li {
        opacity: 0.3;
        color: hsl(0, 0%, 16%);
        user-select: none;
        &.active {
          opacity: 1;
          color: hsl(217, 71%, 53%);
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        &.current {
          color: hsl(0, 0%, 16%);
          cursor: default;
          &:hover {
            text-decoration: none;
          }
        }
      }
      span {
        opacity: 0.3;
        color: hsl(0, 0%, 16%);
        user-select: none;
        &.active {
          opacity: 1;
        }
      }
    }
  }

  .connect-trezor {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2rem 4rem;

    h3 {
      margin-bottom: 1rem;
    }

    & > p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    & > small {
      font-size: 0.6rem;
      opacity: 0.8;
      margin-top: 0.5rem;
    }

    .preflight-checklist-container {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      font-size: 0.85rem;
      margin-bottom: 1rem;

      ul {
        list-style: disc;
        padding-left: 1rem;
      }
    }
  }

  .transaction-container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .addressDetailContainer {
      width: 100%;
      padding: 0 4rem;

      article.addressDetails {
        margin-bottom: 1.8rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid hsl(0, 0%, 62%);

        &:last-of-type {
          border: none;
          margin: 0;
          padding: 0;
        }

        header {
          display: flex;
          justify-content: space-between;
          h4 {
            font-family: monospace;
            color: hsl(340, 60%, 48%);
          }
        }

        table {
          margin-left: 2rem;
          font-size: 1rem;
          width: calc(50% - 2rem);

          td {
            padding-bottom: 0.4rem;
            &.coin-name {
              small {
                display: inline-block;
                margin-left: 0.5rem;
                opacity: 0.5;
              }
            }
          }
        }
      }
    }

    .transaction-details-form-container {
      width: 100%;
      flex: 1;
      padding: 2rem 4rem;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;

      header {
        margin-bottom: 1rem;
      }

      form {
        flex: 1;
        font-size: 1rem;

        .form-group {
          display: flex;
          flex-flow: column;
          align-items: flex-start;
          margin-bottom: 1rem;
        }

        .txAssetAmountContaier {
          display: flex;
          flex-flow: row;

          .form-group:last-of-type {
            margin-left: 2rem;
          }
        }

        button {
          margin-top: 1.25rem;
        }
      }
    }

    .confirm-transaction-container {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 4rem 2rem 4rem;

      header {
        margin-bottom: 1rem;
      }

      & > p {
        margin-bottom: 1rem;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;

        svg {
          margin-right: 0.5rem;
        }
      }

      section {
        font-size: 1rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 1rem;

        address {
          font-size: 1.4rem;
          line-height: 1rem;
        }

        small {
          display: block;
          margin-bottom: 0.25rem;
        }

        table {
          td {
            text-align: center;
            small {
              display: inline;
            }
          }
          .omni-segment {
            font-family: monospace;
            font-size: 1.4rem;
            line-height: 1.2rem;
          }
          .omni-prefix {
            color: hsl(281, 42%, 42%);
          }
          .omni-version {
            color: hsl(36, 58%, 52%);
          }
          .omni-asset-id {
            color: hsl(201, 87%, 41%);
          }
          .omni-amount {
            color: hsl(104, 46%, 39%);
          }
          small {
            font-size: 0.6rem;
            margin: 0.2rem 0 0 0;
          }
          code {
            background-color: transparent;
            color: hsl(0, 0%, 30%);
          }
        }
      }

      button {
        &.disabled {
          background-color: hsl(0, 0%, 94%);
        }
      }
    }

    .complete-container {
      display: flex;
      flex-flow: column;
      padding: 2rem 4rem;
      align-items: center;
      justify-content: space-around;
      justify-content: space-evenly;
      min-height: 320px;

      h2 {
        font-size: 1.8rem;
        .fa-check-circle {
          color: hsl(97, 51%, 34%);
        }
      }

      p {
        font-size: 1.2rem;
        text-align: center;
      }

      address {
        font-size: 1.2rem;
        text-align: center;
      }

      .button {
        margin-left: 4rem;
        &:first-of-type {
          margin: 0;
        }
      }
    }
  }
}

.loading-spinner {
  font-size: 5rem;
  color: hsl(220, 16%, 68%)
}
